<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<!-- <script src="jquery.js"></script> -->
</head>
<body>
	<h1>Welcome To Admin Panel Of WGS Bank</h1>
	<p th:text="${name}"></p>
	<br><br>
	<a href="/openAccount">open Account</a>
	<br>
	<br>
	<a href="/findCustomerDetails">find Customer Details</a>
	<br>
	<br>
	<a href="/banking">Banking Operations</a>
	<br>
	<br>

	<a href="/findAdminDetail">findAdminDetail</a>
	<br> <br>
	<button onclick="logout()">Logout</button>
	
	<br>
	<br>
	<script type="text/javascript">

	function logout(){
		window.open("/","_parent");
	}

</script>
</body>
</html>