<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome To Customer Page Of WGS Bank</h1>
	<a href="/openAccount">open Account</a>
	<br>
	<br>
	<a href="/findCustomerDetails">find Customer Details</a>
	<br>
	<br>
	<a href="/banking">Banking Operations</a>
	<br>
	<br>
	<form action="logout()">
		<input type="submit" value="Logout">
	</form>
<script type="text/javascript">
	function logout(){
		alert("logged out successfull");
	}

</script>
</body>
</html>