<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>
		Welcome <span th:text="${name}" /></p>
	</h3>
	<a href="/openCustAccount" >Register Customer</a><br><br>
	<a href="/registerAdmin" >Register Admin</a><br><br>
	<a href="/viewOwnProfile">View Profile</a><br><br>
	<a href="/findCustDetails">View Customer</a><br><br>
	<a href="/ownBanking">Customer Banking</a><br><br>
	<a href="/findAdminDetailByOwn">Admin Banking</a><br><br>
	<br>
	<a href="/ownLogout">Logout</a>
</body>
</html>